
.Results {
    display:grid;
}
.resultList{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.card {
    display: grid;
    width: 100%;

}

@media (max-width: 599px) {
    .resultList{
        display: grid;
        grid-template-columns: 1fr;
    
    }
}

@media (min-width: 600px) {
    .resultList{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
}