img {
 height: 200px;

}

.ImageResult--ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
}

@media only screen and (max-width: 720px) {
   
    .ImageResult--ul{
        
        grid-template-columns: 1fr;
        
        
    }
    img {
        height: auto;
        max-width: 60%;
    }
}